@import "tailwindcss"; 
@config "../../tailwind.config.js";
@import 'antd/dist/antd.css';


html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Times New Roman', Times, serif;
}

/* Tránh ngắt trang bên trong phần tử có class này */
.no-page-break-inside {
  page-break-inside: avoid; /* Dành cho các trình in truyền thống */
  break-inside: avoid;      /* Tiêu chuẩn mới */
}

/* Đảm bảo phần tử được bắt đầu ở đầu trang nếu có thể */
.page-break-before {
  page-break-before: always;
  break-before: always;
}

/* Đảm bảo phần tử được kết thúc trước khi sang trang mới */
.page-break-after {
  page-break-after: always;
  break-after: always;
}

/* Cấm cắt hình ảnh QR Code khi xuất PDF */
img {
  page-break-inside: avoid;  /* Tránh cắt hình ảnh trong khi phân trang */
}

.pdf-table {
  width: 100%;
  border-collapse: collapse;
  font-size: 12px;
  border: 0.5px solid #d1d5db; /* tương đương border-gray-300 */
}

.pdf-table th,
.pdf-table td {
  border: 0.5px solid #d1d5db;
  padding: 10px 6px; /* Tăng khoảng cách trên dưới */
  text-align: center;
  vertical-align: middle;
  line-height: 1.4;
  box-sizing: border-box;
}
.pdf-table .description-cell {
  text-align: left;
}

.pdf-table thead {
  background-color: #f9fafb;
  font-weight: bold;
}